<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/my_reset.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
      integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/click.js" defer></script>
    <script src="/js/key.js" defer></script>
    <script src="/js/input.js" defer></script>
    <script src="/js/map.js" defer></script>

    <link rel="stylesheet" href="/css/header_footer_sub.css" />
    <link rel="stylesheet" href="/css/write.css" />
    <title>goodrestaurant-write</title>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        width: 100%;
        height: 500px;
      }
      #search-form {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <form id="search-form" action="/getCoords?_method=post" method="post">
      <input type="text" id="address-input" placeholder="주소를 입력하세요" />
      <button type="submit" class="searchAccoords">검색</button>
    </form>
    <div class="result-text"></div>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9e151304e81a55d57cdc632da3a5b387&libraries=services"
    ></script>
    <script>
      function copyToClipboard(text) {
        navigator.clipboard
          .writeText(text)
          .then(() => {
            console.log(`Copied ${text} to clipboard`);
          })
          .catch((err) => {
            console.error(`Error copying to clipboard: ${err}`);
          });
      }

      var map = new kakao.maps.Map(document.getElementById("map"), {
        center: new kakao.maps.LatLng(37.54699, 127.09598),
        level: 5,
      });

      var addressInput = document.getElementById("address-input");
      var geocoder = new kakao.maps.services.Geocoder();

      // 주소 검색 폼 제출 시
      document
        .getElementById("search-form")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          // 주소로 좌표를 검색합니다
          geocoder.addressSearch(addressInput.value, function (result, status) {
            if (status === kakao.maps.services.Status.OK) {
              var myCoords = new kakao.maps.LatLng(result[0].y, result[0].x);
              fetch("/sendCoords", {
                method: "POST",
                body: JSON.stringify({ coords: myCoords.toString() }),
                headers: {
                  "Content-Type": "application/json",
                },
              })
                .then((response) => response.json())
                .then((data) => {
                  document.getElementById("result-text").value =
                    myCoords.toString();
                  console.log(data);
                })
                .catch((error) => {
                  console.error(error);
                });
              alert("입력한 주소의 좌표는 " + myCoords.toString() + " 입니다.");
              map.setCenter(myCoords);
            } else {
              var exampleCoords = new kakao.maps.LatLng(37.54699, 127.09598);
              alert(
                "검색 실패! 예시 좌표 " +
                  exampleCoords.toString() +
                  " 로 이동합니다."
              );
              map.setCenter(exampleCoords);
            }
          });
        });
    </script>
  </body>
</html>
