<footer class="ft">
  <div class="ftCon mw1150">
    <div class="ft1">
      <img src="/img/logo_white.svg"></img>
      <p>email : seotkdeveloper@gmail.com</p>
    </div>
    <div class="ft2">
      <a href="https://xorb0719.tistory.com/"><img src="/img/tistory.svg" alt="tistory"></a>
      <a href="https://github.com/seotk"><img src="/img/github.svg" alt="github"></a>
    </div>
    <div class="ft3">
      <p>© 2023 by 맛집 추천 사이트.</p>
    </div>
  </div>
</footer>