<header class="hd">
  <div class="hdCon mw1150">
    <h1 class="topLogo">
      <img src="/img/logo.svg"></img>
      <a href="#"></a>
    </h1>
    <a href="/" class="title">맛집 추천 사이트</a>
    <div class="menu">
      <span class="search">키워드 검색</span>
      <a href="/write" class="add">등록하기</a>
    </div>
  </div>
</header>
